<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Accueil</title>
    <!-- <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""
    />
    <script
      src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
      integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
      crossorigin=""
    ></script> -->
    <script src="https://unpkg.com/maplibre-gl@^5.1.0/dist/maplibre-gl.js"></script>
    <link
      href="https://unpkg.com/maplibre-gl@^5.1.0/dist/maplibre-gl.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../static/css/home.css" />
  </head>
  <body>
    <%- include('partials/header') %>
    <div id="map" style="width: 1200px; height: 700px"></div>
    <script src="/static/mapv2.js"></script>

    <section class="intro">
      <h2>Bienvenue sur UNESCO Explorer</h2>
      <p>
        Votre guide interactif pour explorer les sites classés au patrimoine mondial de l'UNESCO.  
        Grâce à notre carte dynamique, plongez dans l’histoire et la beauté des lieux emblématiques à travers le monde.
      </p>
    </section>

    <section class="owner">
      <!-- Remplace "avatar.png" par la vraie photo ou un avatar -->
      <img src="avatar.png" alt="Photo du propriétaire du site" class="owner-photo" />
      <div class="owner-text">
        <h3>Aurelie Curchod, propriétaire du site</h3>
        <p>Votre texte, mettez ce que vous souhaitez !</p>
      </div>
    </section>

    <section class="partners">
      <h3>Nos partenaires</h3>
      <div class="partner-logos">
        <!-- Remplace ces logos par tes vraies images -->
        <img src="logo1.png" alt="Partenaire 1" />
        <img src="logo2.png" alt="Partenaire 2" />
        <img src="logo3.png" alt="Partenaire 3" />
        <img src="logo4.png" alt="Partenaire 4" />
        <!-- Ajoute autant de logos que nécessaire -->
      </div>
    </section>

  </body>
</html>
