<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Inscription</title>
    <link href="/static/css/register.css" rel="stylesheet" type="text/css" />
    <script src="/static/register.js" defer></script>
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/static/image/logo-ACD.png"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Major Mono Display"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="title">
      <form action="/register" method="POST">
        <div id="page1">
          <h1>Inscription</h1>
          <% if (error_msg != "") { %>
          <div class="alert alert-danger"><%= error_msg %></div>
          <% } %>
          <div class="info">
            <div class="Firstname">
              <input
                type="text"
                class="login-field"
                placeholder="Prénom"
                id="username"
                name="username"
              />
              <label class="login-field-icon fui-user" for="prenom"></label>
            </div>
            <div class="Email">
              <input
                type="email"
                class="login-field"
                placeholder="Email"
                name="email"
                id="email"
              />
              <label class="login-field-icon fui-lock" for="email"></label>
            </div>
            <div class="container">
              <button type="button" class="Next" id="Next">Suivant</button>
              <a class="register" href="/login"
                >J'ai déjà un compte ! Connexion</a
              >
            </div>
          </div>
        </div>
        <div id="page2" style="display: none">
          <div class="divPrev">
            <button type="button" class="Prev">Précedent</button>
          </div>
          <h1>Inscription</h1>
          <div class="info">
            <div class="password">
              <input
                type="password"
                class="login-field"
                placeholder="Mot de passe"
                id="password"
                name="password"
              />
              <label class="login-field-icon fui-user" for="Firstname"></label>
            </div>
            <div class="confirmPassword">
              <input
                type="password"
                class="login-field"
                placeholder="Confirmez le mot de passe"
                name="confirmPassword"
                id="confirmPassword"
              />
              <label class="login-field-icon fui-lock" for="Email"></label>
            </div>
            <div class="container">
              <button type="submit" class="Next">Envoyé</button>
              <a class="register" href="/login"
                >J'ai déjà un compte ! Connexion</a
              >
            </div>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
