/* Ajoutez ces animations CSS */
@keyframes slideOutLeft {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-out-left {
  animation: slideOutLeft 0.5s forwards;
}

.slide-in-right {
  animation: slideInRight 0.5s forwards;
}

#page1,
#page2 {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  padding-top: 36px;
}

/* Styles existants */
body {
  font-family: Arial, sans-serif;
  background-color: #000;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.background-shapes {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.shape {
  position: absolute;
  opacity: 0.6;
}

.shape1 {
  width: 180px;
  height: 180px;
  background-color: #800080;
  border-radius: 50%;
  top: -30px;
  left: -30px;
}

.shape2 {
  width: 250px;
  height: 250px;
  background-color: #4b0082;
  border-radius: 50%;
  top: -60px;
  right: -50px;
}

.shape3 {
  width: 100px;
  height: 100px;
  background-color: #a020f0;
  border-radius: 50%;
  bottom: 10%;
  left: 10%;
}

.shape4 {
  width: 300px;
  height: 50px;
  background-color: #800080;
  transform: rotate(45deg);
  bottom: 5%;
  right: -50px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title img {
  width: 80px;
  border-radius: 15px;
}

.title p {
  color: white;
  font-weight: bold;
  font-size: 18px;
}

form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #3a0ca3;
  padding: 30px;
  border-radius: 15px;
  width: 400px;
  height: 350px;
}

h1 {
  color: white;
  font-size: 22px;
}

.login-field {
  width: 100%;
  height: 40px;
  padding: 15px;
  border-radius: 5px;
  margin-top: 15px;
  border: none;
  background: white;
  font-size: 15px;
  box-sizing: border-box;
}

.Next {
  width: 100%;
  background: #670ca3;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
  padding: 10px;
}
.login {
  color: #f72585;
  margin: 15px;
  text-decoration: none;
}

.Next:hover {
  transform: scale(1.04);
  background: #460770;
}

.forgotPassword,
.createCompte {
  display: block;
  color: white;
  margin-top: 10px;
  text-decoration: none;
  font-size: 16px;
  transition: 0.5s;
  width: 115px;
  margin: 15px;
}

.forgotPassword {
  width: 140px;
}

.forgotPassword:hover {
  color: rgb(138, 123, 123);
}

.createCompte {
  color: #f72585;
  transition: 0.5s;
}

.createCompte:hover {
  color: #7209b7;
}

.name {
  font-family: "Major Mono Display";
  font-size: 26px;
}
