<section class="partners">
  <link rel="stylesheet" href="../../static/css/footer.css" />
  <h3>NOS PARTENAIRES</h3>

  <div class="partners-grid">
    <img src="/app/static/image/LEGENDSMagazine.jpg" alt="Partenaire 1" />
    <img src="/app/static/image/GT2i.png" alt="Partenaire 2" />
    <img src="/app/static/image/TAMOIL.png" alt="Partenaire 3" />
    <img src="/app/static/image/CASINO.jpg" alt="Partenaire 4" />
  </div>

  <div class="partners-grid">
    <p class="contact-info">
      INFOS ET RESERVATION<br />
      +41 79 417 71 55<br />
      ccroset@acd-motorsport.com
    </p>
    <img src="/app/static/image/VaisonPiste.png" alt="Partenaire 5" />
    <img src="/app/static/image/acs logo.png" alt="Partenaire 6" />
    <img src="/app/static/image/logo-ACD.png" alt="Partenaire 7" />
  </div>
</section>
