<section class="partners">
  <link rel="stylesheet" href="../../static/css/footer.css" />
  <div class="footer-content">
    <div class="partners-grid">
      <p class="contact-info">
        INFOS ET RESERVATION<br />
        +41 79 417 71 55<br />
        ccroset@acd-motorsport.com
      </p>
    </div>
    <div class="partners-grid">
      <img src="/static/image/logo-ACD.png" alt="Partenaire 1" />
    </div>
  </div>
</section>
