<header class="header">
  <link rel="stylesheet" href="../../../static/css/header.css" />
  <img
    src="/static/image/logo-ACD.png"
    alt="ACD Motorsport Logo"
    class="logo"
  />
  <nav class="nav">
    <ul class="nav-list">
      <li>
        <a href="/accueil">Accueil</a>
      </li>
      <li>
        <a href="/forum">Forum</a>
      </li>
    </ul>
  </nav>
  <% if (user) { %>
  <a href="/profile">
    <div class="profile-circle"><%= user.username[0] %></div>
  </a>
  <% } else { %>
  <a href="/login" class="connexion">Connexion</a>
  <% } %>
</header>
