<header class="header">
    <link rel="stylesheet" href="../../../static/css/header.css">
    <div class="header-content">
        <img src="logo.png" alt="ACD Motorsport Logo" class="logo">
        <nav class="nav">
            <a href="/accueil">Accueil</a>
            <a href="/forum">Forum</a>
            <a href="/login" class="connexion">Connexion</a>
        </nav>
    </div>
</header>
