<header class="header">
    <span class="unlogged">Accueil Unlogged</span>
    <div class="header-content">
        <img src="logo.png" alt="ACD Motorsport Logo" class="logo">
        <nav class="nav">
            <a href="#">Accueil</a>
            <a href="#">Forum</a>
            <a href="#" class="connexion">Connexion</a>
        </nav>
    </div>
</header>
