<head>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<header class="header">
  <link rel="stylesheet" href="../../../static/css/header.css" />
  <img
    src="/static/image/logo-ACD.png"
    alt="ACD Motorsport Logo"
    class="logo"
  />
  <nav class="nav">
    <ul class="nav-list">
      <li>
        <a href="/accueil">Accueil</a>
      </li>
      <li>
        <a href="/forum">Forum</a>
      </li>
    </ul>
  </nav>
  <% if (user) { %>
  <div id="profile-menu">
    <button class="profile-circle" @click="toggleMenu">
      <%= user.username[0] %>
    </button>
    <div v-show="showMenu" class="dropdown-menu">
      <a href="/profile">Mon Profil</a>
      <a href="/logout">Se Déconnecter</a>
    </div>
  </div>
  <% } else { %>
  <a href="/login" class="connexion">Connexion</a>
  <% } %>
  <script src="/static/js/header.js"></script>
  <script>
    const mountedApp = app.mount("#header");
  </script>
</header>
