<header class="header">
    <link rel="stylesheet" href="../../../static/css/headerConnected.css">
    <img src="logo.png" alt="Logo du site" class="logo">
    <nav class="nav">
        <a href="/accueil">Accueil</a>
        <a href="#">À propos</a>
    </nav>
    <div class="profile-circle">
        <span>P</span> <!-- Première lettre de "Profile" ou image -->
    </div>
</header>