<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Register</title>
    <link href="/static/register.css" rel="stylesheet" type="text/css" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/static/image/logoUnesco.png"
    />
    <link href='https://fonts.googleapis.com/css?family=Major Mono Display' rel='stylesheet'>
  </head>
  <body>
    <div class="background-shapes">
      <div class="shape shape1"></div>
      <div class="shape shape2"></div>
      <div class="shape shape3"></div>
    </div>

    <div class="title">
      <img src="/static/image/logoUnesco.png" alt="logo" />
      <p class="name">UNESCO explorer</p>
      <form action="/login" method="POST">
        <h1>Sign in</h1>
        <div class="info">
          <div class="Firstname">
            <input
              type="text"
              class="login-field"
              placeholder="Firstname"
              id="Firstname"
              name="Firstname"
            />
            <label class="login-field-icon fui-user" for="Firstname"></label>
          </div>
          <div class="Email">
            <input
              type="Email"
              class="login-field"
              placeholder="Email"
              name="Email"
              id="Email"
            />
            <label class="login-field-icon fui-lock" for="Email"></label>
          </div>
          <div class="container">
            <button type="button" class="Next">Suivant</button>
            <a class="login" href="/login">J'ai déja un compte ! Connexion</a>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
