.user-profile {
  display: flex;
  background-color: #000000;
  color: white;
  padding: 20px;
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  position: relative;
}

.navigation-links {
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-between;
}
.info {
  color: white; /* Add text color for links */
  text-decoration: none; /* Remove underline */
  text-align: left;
  padding: 15px;
  text-align: center; /* Corrected property name from align-text to text-align */
  background-color: #13255b;
  padding-right: 65px;
  border-radius: 0px 70px 70px 0px;
  transition: transform 0.3s ease-in-out;
}
.infperso {
  color: white; /* Add text color for links */
  text-decoration: none; /* Remove underline */
  text-align: center; /* Corrected property name from align-text to text-align */
  padding: 5px 60px 5px 20px;
  text-align: center; /* Corrected property name from align-text to text-align */
  background-color: #13255b;
  border-radius: 0px 70px 70px 0px;
  transition: transform 0.3s ease-in-out;
}
.infperso {
  background-color: #2c54ce;
}

.infos-perso {
  width: 50%;
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.line {
  width: 100%;
  height: 1px;
  background-color: white;
  margin: 10px 0;
}

.photo-profil,
.name-user,
.mdp-user {
  display: flex;
  justify-content: space-between; /* répartit l'espace entre les éléments */
  align-items: center; /* centre verticalement */
  padding: 10px 0;
}

.photo-profil p,
.name-user p:first-child,
.mdp-user p:first-child {
  flex: 1;
  text-align: left;
}

.photo-profil img,
.name-user p:last-child,
.mdp-user p:last-child {
  flex: 1;
  text-align: right;
}

.photo-profil i,
.name-user i,
.mdp-user i {
  margin-left: 50px;
  cursor: pointer;
}

.photo-profil img {
  max-width: 55px;
  height: 55px;
}

.navigation-links a {
  transition: 0.4s;
}
.navigation-links a:hover {
  background-color: #2c54ce;
  transform: scale(1.1) translateX(8px);
}
