/* Styles généraux */
body {
  background-color: white;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Conteneur principal */
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Logo et titre */
.title img {
  width: 150px;
  margin-bottom: 20px;
}
.title p {
  color: #2e3a59;
  font-weight: bold;
  font-size: 24px;
}

/* Formulaire de connexion */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #2e3a59;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
  height: 350px;
}

h1 {
  color: white;
  margin-bottom: 20px;
  font-size: 30px;
}

#id {
  margin-top: 10px;
}
/* Champs de saisie */
.login-field {
  width: 100%;
  height: 45px;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  box-sizing: border-box;
}

/* Bouton de connexion */
.login {
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%;
  height: 50px;
  background-color: #6c757d;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

.login:hover {
  background-color: #5a6268;
}

/* Liens supplémentaires */
.forgotPassword,
.createCompte {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.createCompte {
  color: #38a1db;
}

.createCompte:hover {
  color: #1d72b8;
}

.forgotPassword:hover {
  color: #ddd;
}
.alert {
  padding: 15px 20px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  position: relative;
  animation: fadeIn 0.8s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
  opacity: 0.95;
  min-width: 300px;
  max-width: 500px;
  margin-bottom: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}
.alert.fade-out {
  animation: fadeOut 1s ease-out forwards;
}

.alert-danger {
  background: linear-gradient(135deg, #ff1e1e, #ff4d4d);
  color: white;
  text-shadow: 0px 0px 10px rgba(255, 77, 77, 0.9);
  border: 2px solid rgba(255, 77, 77, 0.7);
  box-shadow: 0px 0px 15px rgba(255, 77, 77, 0.8);
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px;
  margin-top: 0;
}

.info > div {
  width: 100%;
}
