/* Styles généraux */
body {
  background-color: #000;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  position: relative;
}

/* Arrière-plan avec formes décoratives */
/* Arrière-plan avec formes décoratives */
.background-shapes {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
}

.shape {
  position: absolute;
  opacity: 0.6;
}

.shape1 {
  width: 180px;
  height: 180px;
  background-color: #800080;
  border-radius: 50%;
  top: -30px;
  left: -30px;
}

.shape2 {
  width: 250px;
  height: 250px;
  background-color: #4b0082;
  border-radius: 50%;
  top: -60px;
  right: -50px;
}

.shape3 {
  width: 100px;
  height: 100px;
  background-color: #a020f0;
  border-radius: 50%;
  bottom: 10%;
  left: 10%;
}

.shape4 {
  width: 300px;
  height: 50px;
  background-color: #800080;
  transform: rotate(45deg);
  bottom: 5%;
  right: -50px;
}

.shape3 {
  width: 100px;
  height: 100px;
  background-color: #ff00ff;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}

/* Conteneur principal */
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Logo et titre */
.title img {
  width: 80px;
  border-radius: 15px;
}
.title p {
  color: white;
  font-weight: bold;
  font-size: 18px;
}

/* Formulaire */
form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #3A0CA3;
  padding: 30px;
  border-radius: 15px;
  width: 400px;
  height: 350px;
}
h1 {
  color: white;
  font-size: 22px;
}

/* Champs de saisie */
.login-field {
  width: 100%;
  height: 40px;
  padding: 15px;
  border-radius: 5px;
  margin-top: 15px;
  border: none;
  background: white;
  font-size: 15px;
  box-sizing: border-box;
}

/* Bouton de connexion */
.login {
  width: 100%;
  background: #670CA3;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
  padding: 10px;
}
.login:hover {
  transform: scale(1.04);
  background: #460770;
}

/* Liens */
.forgotPassword,
.createCompte {
  display: block;
  color: white;
  margin-top: 10px;
  text-decoration: none;
  font-size: 16px;
  transition: 0.5s;
  width: 115x;
  margin: 15px;
}
.forgotPassword {
  width: 140px;
}
.forgotPassword:hover {
  color: rgb(138, 123, 123);
}
.createCompte {
  color: #f72585;
  transition: 0.5s;
  
}
.createCompte:hover {
  color: #7209b7;
}
.name{
  font-family: 'Major Mono Display';font-size: 26px;
}